:root {
    --app:true;
}

h1 {
    background-image: linear-gradient(60deg, #7319fa, #ff33b4, #ff7e29);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 64px;
}
